core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.vscode
.gitpod.yml
.gitpod.dockerfile
node_modules
yarn.lock
package-lock.json
package.json
.nyc_output
.babelrc
.nycrc
coverage