/* ----- Google Fonts import ----- */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* ----- Font ----- */

* {
    font-family: 'Roboto', sans-serif;
}

/* --- Global styling --- */
.white-header1-text {
    color: white;
    font-size: 2.5rem;
}

.white-header2-text {
    color: white;
    font-size: 1.5rem;
}

.white-header3-text {
    color: white;
    font-size: 1.0rem;
}

.white-header2-text {
    color: white;
}

.white-p-text {
    color: white;
    font-size: 1.3rem;
}

.center-text{
    text-align: center;
}

/* ----- Start of Color palette ----- */

/* --- Navigation bar Colors --- */

.site-header {
    background-color: black;
}

#logo {
    font-size: 3rem;
}

.nav-text {
    color: white;
}

#toggler-border {
    border-color: white;
}

/* --- Site Footer Colors --- */
#site-footer {
    background: black;
}

.mailing-list-text{
    color: white;
}

.social-icon {
    color: white;
}

.social-icon:hover {
    color: rgba(255,255,255,.5);
}

/* --- Events Page Colors --- */
.event-heading {
    color: black;
}

.event-text {
    color: black;
}

.event-venue {
    color: black;
}

.event-url-1 a{
    color: black;
    text-decoration: underline;
}

.event-url-2 a{
    color: black;
    text-decoration: underline;
}

/* ----- End of Color palette ----- */
.nav-icon {
    font-size: 2rem;
    text-align: center;
}

.nav-icon-holder {
    text-align: center;
}

/* ----- Navigation bar ----- */


/* ----- Hero image and overlay text ----- */
#hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/vinyl-record-background.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.dj-event{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/dj-event.jpg");
    background-repeat: no-repeat;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}    

.dj-event:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/dj-event.jpg");
}

.dj-disco{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/dj-disco.jpg");
    background-repeat: no-repeat;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}    

.dj-disco:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/dj-disco.jpg");
}

.dj-pioneer{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/dj-pioneer.jpg");
    background-repeat: no-repeat;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}    

.dj-pioneer:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/dj-pioneer.jpg");
}

.dj-vinyl{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/dj-vinyl.jpg");
    background-repeat: no-repeat;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}    

.dj-vinyl:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/dj-vinyl.jpg");
}

#four-images{
    margin: 0;
}

#four-images a:hover {
    text-decoration: none;
}

/* ----- Site Footer ----- */
.social-icon {
    padding: 10px;
    font-size: 20px;
}

#site-footer {
    margin: 0;
    width: 100%;
    padding: 25px;
}

.footer-text {
    padding: 30px;
}

.common_btn {
    display: inline-block;
    background: #0c6ace;
    color: white;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;   
}

.social-icons{
    text-align: right;
}

#spotify_image{
    height: 45px;
    width: 120px;
}

/* ----- Event Page ----- */

#all-events {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/vinyl-record-background.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height:auto;
    min-height:800px;
    height:auto !important;        /* IE as it does not support min-height */
    height:800px;                   /* IE as it does not support min-height */
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

#event-pages div {
    float: left;
}

.events-information{
    padding: 20px 20px 20px 20px;
    padding-top: 20px;
    height: inherit;
}

#events-holder{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 40px;
    border-radius: 25px;
}

#event-header-text {
    font-weight: bold;    
}

.event-page-number{
    float: left;;
    padding: 10px 10px;
}

.event-page-number:hover {
    background-color: #0062cc;
}

#previous {
    float: left;;
    padding: 10px 10px;
    color: black;
    display: none;
}

.pagination {
    padding-top: 10px;
}

#previous:hover {
    background-color:#0062cc;
}

#next {
    float: left;
    padding: 10px;
    color: black;
}

#next:hover {
    background-color:#0062cc;
}

.upcoming-events {
    margin-bottom: 0;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

.upcoming-events h2 {
    margin:0;
}

.event1-container {
    text-align: center;
    display: none;
    color: black;
}

.event2-container {
    text-align: center;
    display: none;
    color: black;
}

.selected {
    text-decoration: underline;
    background-color: black;
    color: white;
    pointer-events:none
}

.individual-event {
    padding-bottom: 15px;
}

#map1 {
    height: 250px;
    width: 250px;
    margin: auto;
}

#map2 {
    height: 250px;
    width: 250px;
    margin: auto;
}

/* ----- About Page ----- */
#about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/vinyl-record-background.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:auto;
    min-height:800px;
    height:auto !important;        /* IE as it does not support min-height */
    height:800px;                   /* IE as it does not support min-height */
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#album1 {
    height: 200px;
    width: 300px;
}

#album2 {
    height: 200px;
    width: 300px;
}

#album1_tracks, #album2_tracks {
    color: white;
}

#album1_tracks a, #album2_tracks a {
    color: white;
}

#album1_info, #album2_info {
    color: white;
}

#album1_image,#album2_image{
    color: white;
}
#track-preview {
    height: 60px;
    width: 250px;
}

#track-preview-text {
    color: white;
    font-weight: bold;
}

.top-track-number {
    color: white;
}

#toptracks-holder {
    padding-top: 10px;
}

/* The flip box css was taken from here and modified: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_flip_image2 */
/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin-bottom: 30px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the back side */
  .flip-box-back {
    color: white;
    transform: rotateY(180deg);
  }

/* ----- Quiz Page ----- */
#quiz {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/vinyl-record-background.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:auto;
    min-height:800px;
    height:auto !important;        /* IE as it does not support min-height */
    height:800px;                   /* IE as it does not support min-height */
    width: 100%;
    padding-bottom: 30px;
    padding-top: 20px;
}

.table {
    table-layout: fixed;
}

#quiz-holder {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
}

#results_text{
    display: none;
}

.results_table{
    display: none;
}

#quiz_title{
    text-align: center;
}

#quiz-text {
    text-align: center;
}

#quiz-paragraph {
    color: white;
}

#quiz-header {
    padding-bottom: 20px;
}

#quiz-header div{
    font-size: 1.1rem;
}

#question {
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}

#progress-area {
    padding-top: 10px;  
}

#progress-bar {
    background-color: #0062cc;
}

#submit_answer {
    background-color: #0062cc;
}

#submit-button-area {
    padding-top: 10px;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

#error {
    color: red;
}

#timer-area, #overall_result, #test_status, #top_score{
    font-weight: bold;
}

#legend_text{
    font-size: 1rem;
}

/* ----- Media Queries ----- */
/* --- Large Screen --- */
@media screen and (max-width: 1024px) {
    #quiz {
        height: inherit;
    }

    #about {
        height: inherit;
    }
}

/* --- Large Screen --- */
@media screen and (max-width: 991px) {
    .nav-icon-holder {
        display: none;
    }

}

/* --- Medium Screen --- */
@media screen and (max-width: 768px) {

    .nav-icon-holder {
        display: none;
    }

    /* --- About Page --- */   
    #album1 {
        height: 200px;
        width: 250px;
    }

    #album2 {
        height: 200px;
        width: 250px;
    }

    .flip-box {
        width: 200px;
        height: 250px;
        margin-bottom: 10px;
    }
    
    #track-preview-text {
        padding-top: 10px;
    }

    #quiz {
        height: inherit; 
    }    
}

/* X-SMALL SCREEN */
@media screen and (max-width: 481px) {

    /* --- Global styling --- */
    .white-header1-text {
        color: white;
        font-size: 2.0rem;
    }

    .white-p-text {
        font-size: 1.2rem;
    }

    .social-icon {
        padding: 5px;
    }

    #quiz {
        height: inherit;   
    }

    
    /* --- About Page --- */   
    #about {
        height: inherit;  
    }

    #album1 {
        height: 110px;
        width: 120px;
    }
    
    #album2 {
        height: 110px;
        width: 120px;
    }
    
    .flip-box {
        width: 110px;
        height: 120px;
        margin-bottom: 10px;
    }
    #album1_tracks #album2_tracks {
        padding-top: 10px;
    }

    #album1_info, #album2_info{
        font-size: 0.8rem;
    }
    #track-preview-text {
        padding-top: 10px;
    }
}   

/* Extra X-SMALL SCREEN */
@media screen and (max-width: 320px) {
    /* --- About Page --- */   
    #about {
        height: inherit;  
    }

    #quiz {
        height: inherit;  
    }
}    
