/* ----- Google Fonts import ----- */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

/* ----- Font ----- */

* {
    font-family: 'Lato', sans-serif;
}


/* --- Global styling --- */
.white-header1-text {
    background-color: white;
}

/* ----- Start of Color palette ----- */

/* --- Navigation bar Colors --- */

.site-header {
    background-color: black;
}

#logo {
    color: white;
    font-size: 2rem;
}

#nav-text {
    color: white;
}

#toggler-border {
    border-color: white;
}

/* ----- Site Footer Colors----- */
#site-footer {
    background: black;
}

.mailing-list-text{
    color: white;
}

.social-icon {
    color: white;
}

/* ----- End of Color palette ----- */


/* ----- Navigation bar ----- */

/* ----- Hero Video ----- */
#dj-video {
    position: fixed;
    right: 0;
    min-width: 100%;
    min-height: 100%;
}

.overlay {
    position: fixed;
    color: white;
    width: 100%;
    padding: 20px;
}

/* ----- Site Footer ----- */
.social-icon {
    padding: 10px;
    font-size: 20px;
}

#site-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 25px;
}

.footer-text {
    padding: 30px;
}

/* ----- Media Queries ----- */